<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无-需求</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/question.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-8" id="js-question">
        <form action="/question" method="get">
          <div class="input-group search-box">
            <input type="text" class="form-control" name="q" placeholder="大家都在搜人工智能">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">搜索</button>
            </span>
          </div>
        </form>

        <% if (data.docs.length) { %>
          <% for (var i = 0; i < data.docs.length; i += 1) {%>
            <div class="question-box">
              <h4><a href="/question/<%= data.docs[i].get('id') %>"><%= data.docs[i].get('title') %></a></h4>
              <p class="question-owner">
                提问者：<%= data.docs[i].get('user').get('name') %>，日期：<%= `${data.docs[i].get('createdAt').getFullYear()}-${data.docs[i].get('createdAt').getMonth() + 1}-${data.docs[i].get('createdAt').getDate()} ${data.docs[i].get('createdAt').getHours()}:${data.docs[i].get('createdAt').getMinutes()}` %>
                <% if (!data.docs[i].get('solve')) { %>
                  <span class="label label-warning">未解决</span>
                <% } else { %>
                  <span class="label label-success">已解决</span>
                <% } %>
              </p>
              <p>
                <%= data.docs[i].get('content').length > 100 ? data.docs[i].get('content').slice(0, 100) + '...' : data.docs[i].get('content') %>
              </p>
              <% if (user) { %>
                <div class="question-operation clearfix">
                  <button type="button" class="btn btn-default btn-xs pull-right">举报</button>
                  <button type="button" class="btn btn-defualt btn-xs pull-right js-vote">有相同痛点</button>
                  <button type="button" data-id="<%= data.docs[i].get('id') %>" data-title="<%= data.docs[i].get('title') %>" class="btn btn-primary btn-xs pull-right js-reply">回复</button>                          
                </div>
              <% } %>
            </div>
          <% } %>

          <nav>
            <ul class="pager">
              <% if (data.hasPrevious) { %>
                <li><a href="/search?q=<%= query.q %>&page=<%= parseInt(data.currentPage) - 1 %>">上一页</a></li>
              <% } else { %>
                <li class="disabled"><a>上一页</a></li>
              <% } %>
              <li><%= data.currentPage %></li>
              <% if (data.hasMore) { %>
                <li><a href="/search?q=<%= query.q %>&page=<%= parseInt(data.currentPage) + 1 %>">下一页</a></li>
              <% } else { %>
                <li class="disabled"><a>下一页</a></li>
              <% } %>
            </ul>
          </nav>
        <% } else { %>
          <div class="alert alert-info">暂无数据！</div>
        <% } %>
        <% if (user) { %>
          <div class="panel panel-default">
            <div class="panel-heading">没有你想要的数据？那么请发出的你的痛点和需求吧！</div>
            <div class="panel-body">
              <form data-toggle="validator" method="post" action="/question">
                <div class="form-group">
                  <label for="title">标题（必填）</label>
                  <input type="text" name="title" class="form-control" id="title" data-minlength="5" maxlength="30" placeholder="字数30以内" required>
                </div>
                <div class="form-group">
                  <label for="content">详细描述</label>
                  <textarea name="content" id="" cols="30" rows="4" class="form-control" maxlength="150" placeholder="字数150以内"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">提 交</button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
      <div class="col-md-4">
        <p>推荐信息</p>
        <% for (var i = 0; i < 4; i += 1) {%>
          <div class="question-box">
            <h4><a href="###">我国对电商征税吗？电商税务征管目前存在哪些问题和不足？</a></h4>
            <p class="question-owner">提问者：程天蓝，日期：2015-01-10</p>
            <p>
              唉。我国不对电商征税吗？ 当然要征！现在生活中，为什么这部分的征管不能到位呢？ 多种原因。 1.…
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="question-reply">
    <form data-toggle="validator" action="/answer" method="post" id="js-reply-form">
      <p id="js-reply-title"></p>
      <textarea name="content" id="" cols="10" rows="4" class="form-control" placeholder="请输入您的回复" id="js-reply-textarea" required></textarea>
      <input type="hidden" name="questionId" id="js-reply-input" required>
      <button type="submit" class="btn btn-primary">提交</button>
      <button type="button" class="btn btn-danger " id="js-reply-close">关闭</button>
    </form>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script src="/scripts/validator.min.js"></script>
  <script>
    $(function () {
      $('.question-box').on('click', '.js-reply', function () {
        $('#js-reply-title').text('当前回复主题是：' + $(this).data('title'))
        $('#js-reply-textarea').val()
        $('.question-reply').addClass('show')
        $('#js-reply-input').val($(this).data('id'))
      })

      $('#js-reply-close').on('click', function () {
        $('.question-reply').removeClass('show')
        $('#js-reply-textarea').val()
      })

      $('#js-question').on('click', '.js-vote', function () {
        $(this).toggleClass('btn-danger')
      })
    })
  </script>
</body>
</html>