<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有无</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page/comment.css">
  <link rel="stylesheet" href="/css/page/question.css">
</head>
<body>
  <%- include header.ejs %>

  <div class="container">
    <div class="question-box">
      <h3><%= question.get('title') %></h3>
      <p class="question-owner">提问者：<%= question.get('user').get('username') %>，日期：<%= `${question.get('createdAt').getFullYear()}-${question.get('createdAt').getMonth() + 1}-${question.get('createdAt').getDate()} ${question.get('createdAt').getHours()}:${question.get('createdAt').getMinutes()}` %></p>
      <p><%= question.get('content') %></p>
    </div>

    <div class="rows answer-wrap">
      <div class="col-md-8">
        <% if (answers.length) { %>
          <% for (var i = 0; i < answers.length; i += 1) { %>
            <div class="answer-box">
              <h4><%= answers[i].get('user').get('username') %></h4>
              <p class="answer-date">回复时间：<%= `${answers[i].get('createdAt').getFullYear()}-${answers[i].get('createdAt').getMonth() + 1}-${answers[i].get('createdAt').getDate()} ${answers[i].get('createdAt').getHours()}:${answers[i].get('createdAt').getMinutes()}` %></p>            
              <div class="content"><%= answers[i].get('content') %></div>
              <div class="answer-operation">
                <button class="btn btn-defualt" type="button">
                  <i class="glyphicon glyphicon-baby-formula"></i> <span class="badge"><%= answers[i].get('vote') %></span>
                </button>
                <button class="btn btn-defualt" type="button">
                  <i class="glyphicon glyphicon-share"></i> 分享
                </button>
                <button class="btn btn-default" type="button">举报</button>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <div class="alert alert-info" role="alert">暂无人提出解决方案，如果你有好的解决方案请填写在下方的留言框中！</div>        
        <% } %>

        <div class="question-reply-in-detail">
          <textarea name="" id="" cols="10" rows="3" class="form-control" placeholder="请输入您的解决方案"></textarea>
          <button type="button" class="btn btn-primary">提交</button>
        </div>
      </div>
      <div class="col-md-4">
        <p>推荐信息</p>
        <% for (var i = 0; i < 4; i += 1) {%>
          <div class="question-box">
            <h4><a href="###">我国对电商征税吗？电商税务征管目前存在哪些问题和不足？</a></h4>
            <p class="question-owner">提问者：程天蓝，日期：2015-01-10</p>
            <p>
              唉。我国不对电商征税吗？ 当然要征！现在生活中，为什么这部分的征管不能到位呢？ 多种原因。 1.…
            </p>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>