<% for(var i = 0; i < data.docs.length; i += 1) { %>
  <div class="media search-list">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= data.docs[i].get('image') ? data.docs[i].get('image').get ? data.docs[i].get('image').get('url') : '/image/none.jpg' : '/image/none.jpg' %>" alt="<%= data.docs[i].get('title') %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="###"><%= data.docs[i].get('title') %></a>
        <% if (user) { %>
          <% if (user.role === 'investor') { %>
            <a href="###" class="label label-primary get-info">查看资料</a>          
          <% } %>
          <span class="label label-default vote">赞</span>
        <% } %>
      </h4>
      <p>
        <%= data.docs[i].get('content').length > 100 ? data.docs[i].get('content').slice(0, 100) + '...' : data.docs[i].get('content') %>
      </p>
      <div class="search-tags">
        分类：
        <% data.docs[i].get('tags').forEach(item => { %>
          <span class="label label-info"><%= item %></span>
        <% }) %>
      </div>
    </div>
  </div>
<% } %>

<nav>
  <ul class="pager">
    <% if (data.hasPrevious) { %>
      <li><a href="/search?q=<%= query.q %>&page=<%= parseInt(data.currentPage) - 1 %>">上一页</a></li>
    <% } else { %>
      <li class="disabled"><a>上一页</a></li>
    <% } %>
    <li><%= data.currentPage %></li>
    <% if (data.hasMore) { %>
      <li><a href="/search?q=<%= query.q %>&page=<%= parseInt(data.currentPage) + 1 %>">下一页</a></li>
    <% } else { %>
      <li class="disabled"><a>下一页</a></li>
    <% } %>
  </ul>
</nav>